nav {
    z-index: 1;
    height: var(--navBarCurrentSize);
    position: sticky;
    top: 4px;
    transition: 0.4s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav.shadow {
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav>* {
    height: 100%;
}

nav .logo {
    height: 90%;
    font-weight: 800;
    gap: 8px;
}

nav .logo .text {
    font-size: 1.2em;
    color: linear-gradient(var(--mainColor), transparent);
}

nav .logo svg {
    height: 80%;
    width: auto;
    padding: 2%;
    border-radius: 50%;
    border-bottom-right-radius: 8px;
    animation: logoBgAnim 25s linear infinite;
}

nav .logo svg path {
    fill: var(--white);
}

@keyframes logoBgAnim {

    0%,
    10%,
    92%,
    100% {
        background: var(--autismoFlagColor02);
    }

    12%,
    30% {
        background: var(--autismoFlagColor03);
    }

    32%,
    50% {
        background: var(--autismoFlagColor04);
    }

    52%,
    70% {
        background: var(--autismoFlagColor05);
    }

    72%,
    90% {
        background: var(--autismoFlagColor01);
    }
}


nav .menu ul {
    height: 100%;
}

nav .menu ul li>* {
    border-bottom: 2px solid transparent;
    padding: .75rem 1.5rem;
    color: var(--black);
    font-weight: bold;
    transition: 0.2s ease;
}

nav .menu ul li .active,
nav .menu ul li :hover {
    border-bottom: 2px solid var(--orange);
    color: var(--orange);
}

nav .toogle {
    right: 2%;
    position: absolute;
    display: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 5;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 0;
}

nav .toogle i {
    position: absolute;
    width: 24px;
    height: 24px;
    transition: 0.2s ease-in-out;
}


#check:checked~.toogle #show {
    opacity: 0;
    transform: rotateZ(180deg);
}

#check:checked~.toogle #hide {
    opacity: 1;
    transform: rotateZ(0deg);
}

#show {
    opacity: 1;
}

#hide {
    opacity: 0;
    transform: rotateZ(180deg);
}

#check {
    display: none;
}

@media (max-width: 750px) {
    :root {
        --navBarCurrentSize: var(--navBarSmall);
    }

    nav {
        position: sticky;
        top: -5rem;
    }

    nav.snap {
        position: sticky;
        top: 4px;
    }

    nav .menu {
        transition: 0.3s ease-in-out;
        position: fixed;
        right: -100vw;
        top: 0;
        width: 90vw;
        max-width: 400px;
        margin-right: -5vw;
        height: 100%;
        background-color: var(--white);
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    }

    nav .menu ul {
        width: 100%;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        gap: 0;
    }

    nav .menu ul>* {
        display: flex;
        width: 100%;
        padding: .5rem 1rem;
        flex-grow: 1;
    }

    nav .menu ul li>* {
        flex-grow: 1;
    }

    nav .menu ul li .active,
    nav .menu ul li :hover {
        background: var(--mainColor);
        border-bottom: 2px solid var(--mainColor);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        color: var(--white);
    }


    nav .toogle {
        display: flex;
    }

    #check:checked~.menu {
        right: 0vw;
    }
}

@media (max-width: 340px) {
    nav .logo .text {
        font-size: 1em;
    }

    nav .logo svg {
        height: 70%;
        width: auto;
        padding: 2%;
        background: var(--mainColor);
        border-radius: 50%;
        border-bottom-right-radius: 8px;
    }
}